<!DOCTYPE html>

<html>

<head>

<meta name="viewport" content="width=device-width">

<title> Kings Media Production </title>

</head>

<body>

<header>

<div class="container> 

<div id="branding"> 

<h1> Kings Media Production</h1> 

</div>



<ul>

<li><a href="#home.html"> Home </a></li>

<li><a href="#about.html"> About </a></li>

<li><a href="#services.html"> Services </a></li>

<li><a href="#contact.html"> Contact </a></li>

</ul



</header>

<section id="showcase">

<div class="container">

<h1>Affordable Professional Services</h1> 

</div>

</section>

<p> Kings Media Production is a multimedia production comapay who are into photography and videoshooting/editing of all kind of occasions, film production nad many more.....  </p>



<section id="newsletter">

<div class="container">

<h1> Subscribe To Our NewsLetter </h1> 

</div>

<form>

<input type="email" placeholder="Enter Email...">

<button type="submit" class="buttton_1">Subscribe</button>

</form>

</section>



<section>

<div class="contact">

<div class="boxes">

</div>

</section>



<a href="http://www.facebook.com"> facebook </a>

</body>

</html>
